.container {
  place-items: center;
}

.subContainer {
  grid-auto-flow: column;
  gap: 10px;
  place-items: center;
}

.iconContainer {
  color: #808080;
  opacity: 0.35;
  place-items: center;
}

.dot {
  --size: 8px;
  background-color: #808080;
  border-radius: var(--size);
  height: var(--size);
  opacity: 0.35;
  width: var(--size);
}

.activeIndicator {
  opacity: 1;
}
