.contentContainer {
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

.sizingDefault {
  max-height: 90vh;
  max-width: 95vw;
  min-height: 100px;
  min-width: 50vw;
  width: 400px;
}

.sizingLarge {
  max-height: 65vh;
  max-width: 80vw;
  min-height: 250px;
  min-width: 600px;
}

.sizingExtraLarge {
  max-height: 75vh;
  max-width: 85vw;
  min-height: 450px;
  min-width: 800px;
}
