.contentContainer {
  gap: 10px;
  margin-top: -10%;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.description {
  font-size: 16px;
}

.sizingDefault {
  max-height: min(700px, 75vh);
  max-width: min(500px, 95vw);
  min-width: 300px;
  overflow-y: scroll;
  width: 400px;
}
