.container {
  background-color: #000000c0;
  backdrop-filter: blur(2px);
  color: #ffffff;
  height: 100vh;
  left: 0;
  overflow: scroll;
  position: fixed;
  width: 100vw;
  padding: 20px;
  top: 0;
  z-index: 1;
}

.containerNonInteractive {
  opacity: 0.5;
  pointer-events: none;
}
